body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 75%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.wide-container {
  width: 75%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container */
}

.news-item-card {
  transition: transform 0.3s ease; /* Smooth transition for the hover effect */
}

.news-item-card:hover {
  transform: scale(1.05); /* Slightly increase the size of the card on hover */
}